<div class="form-row">
<h5>マイページ</h5>
</div>

<div class="form-row">
<h5 class="col-1"><strong>登録情報</strong></h5>
<div class="col-1">
<%= link_to information_edit_customers_path, class: "btn btn-success" do %>
 編集する
<% end %>
</div>
</div>


<table class="table table-bordered">
  <tbody class="thead-light">
    <tr>
      <th>氏名</th>
      <td><%= "#{@customer.last_name} #{@customer.first_name}" %></td>
    </tr>
    <tr>
      <th>カナ</th>
      <td><%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<div class="form-row">
<h5 class="col-1"><strong>配送先</strong></h5>
<div class="col-1">
<%= link_to root_path, class: "btn btn-primary" do %>
 一覧を見る
<% end %>
</div>
</div>

<!--パスは仮-->

<div class="form-row">
<h5 class="col-1"><strong>注文履歴</strong></h5>
<div class="col-1">
<%= link_to root_path, class: "btn btn-primary" do %>
 一覧を見る
<% end %>
</div>
</div>



