    
    
    <p><%= image_tag @item.item_image %></p>
    <p>ID：<%= @item.id %></p>
    <p>商品名：<%= @item.name %></p>
    <p>商品説明：<%= @item.introduction %></p>
    <p>税抜き価格：<%= @item.price %></p>
    <p>ジャンル：<%= @item.genre_id %></p>
    <p>ステータス：<%= @item.genre_id %></p>