<div class="container">
<h5>管理者ログイン</h5>


<%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>
  <div class="row my-3 ">
    <div class="col-2">
    <%= f.label :メールアドレス %>
    </div>
     <div class="col-5">
    <%= f.email_field :email, size: 40, autofocus: true %>
     </div>
  </div>

  <div class="row my-3 ">
    <div class="col-2">
    <%= f.label :パスワード %>
    </div>

    <div class="col-5">
    <%= f.password_field :password, size: 40 %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2"></div>
    <div class="col-5">
    <%= f.submit "ログイン", class:"btn btn-primary col-3" %>
    </div>
  </div>
<% end %>
</div>
<%= render "admin/shared/links" %>

