<!--<div class="image-container">-->
<!--  <img src="../../assets/images/cake.jpg" alt="Top画像">-->
<!--  <p class="image-text">ようこそ、ながのCAKEへ！</p>-->
<!--  <p class="image-text">このサイトは、ケーキ販売のECサイトになります。</p>-->
<!--  <p class="image-text">会員でない方も商品の閲覧はできますが、</p>-->
<!--  <p class="image-text">購入には会員登録が必要になります。</p>-->
<!--</div>-->




<div class="text-center">
  <div class="background text-center">
    <div class="box">
      <div class="box-text">
        <p class="height">ようこそ、ながのCAKEへ！</p><br>
        <p class="height">このサイトは、ケーキ販売のECサイトになります。</p><br>
        <p class="height">会員でない方も商品の閲覧はできますが、</p><br>
        <p class="height">購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>


<h1>新着商品</h1>

<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag 'str.jpg', size: '200x150' %>
        <p>商品名 苺のフレジェ</p>
        <p>¥ 5,000</p>
      </td>
      <td>
        <%= image_tag 'canure.jpg', size: '200x150' %>
        <p>商品名 カヌレ</p>
        <p>¥ 500</p>
      </td>
      <td>
        <%= image_tag 'pudding.jpg', size: '200x150' %>
        <p>商品名 いちごプリンホイップクリーム乗せ</p>
        <p>¥ 600</p>
      </td>
      <td>
        <%= image_tag 'candy.jpg', size: '200x150' %>
        <p>商品名 フルーツキャンディ詰め合わせ</p>
        <p>¥ 500</p>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to '全ての商品を見る>', items_path %>
