<div class="form-row d-flex justify-content-center">
  <div class="background">
    <div class="box">
      <div class="box-text">
        <p class="height">ようこそ、ながのCAKEへ！</p><br>
        <p class="height">このサイトは、ケーキ販売のECサイトになります。</p><br>
        <p class="height">会員でない方も商品の閲覧はできますが、</p><br>
        <p class="height">購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>


<div class="container p-3">
  <div class="row">
    <div class="col-6">
      <h3>新着商品</h3>
    </div>
  </div>

      
  
    
      
    

  
               
      <table style="height: 200px;">
        <tbody>
  <div class="row justify-content-center">
    <div class="col-3">
          <tr>
          <% @items.each do |item|%>
            <td>
      
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_item_image(200,150)%>
              <% end %>
              <p><%= item.name %></p>
              <p><%= item.price %>円</p>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
      <%= link_to '全ての商品を見る>', items_path %>
    </div>
  </div>
</div>

