<div class="container">
<h5>会員一覧</h5>


<div class="row justify-content-center">
  <div class="col-1">会員ID</div>
  <div class="col-2">氏名</div>
  <div class="col-3">メールアドレス</div>
 <div class="col-2">ステータス</div>
</div>

<div class="row justify-content-center">
    <% @customers.each do |customer| %>
     <div class="col-1"> <%= customer.id %></div>
     <div class="col-2">
      <%= link_to admin_customer_path(customer)  do %>
      <%= customer.last_name + customer.first_name%>
      <% end %>
      </div>
   <div class="col-3"><%= customer.email %></div>
    <div class="col-2">
      <%= customer.is_active ? "有効" : "退会" %>
    </div>
    <% end %>
  </div>
   </div>



