<h3>注文履歴一覧</h3>

<table>
  <thead border>
    <tr bgcolor="#DDDDDD">
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <td>
      <%= link_to admin_order_path(order.id) do %>
        <%= order.created_at %>
        <!--購入者の買った日時＝注文確定日時間分秒-->
      <% end %>
    </td>
    <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
    <td> 
      <% order.oder_detail.each do |order_detail_amount| %>
      <% @order_amount += order_detail_amount %>
      <% end %>
      <%= @order_amount %>
    <!--order_detailsから数を引っ張ってくる。-->
    </td>
    <td>
      <%= Order.statuss_i18n[Order.satatus.key(@order.status)]%>
      <%= @order.statuss_i18n%>
    </td>
  </tbody>
  <% end %>
</table>

<%#= paginate orders %>