<h3>注文履歴詳細</h3>

<table>
  <tbody>
    <tr>
      <th>購入者</th>
      <td>
        <%#= link_to 購入者の会員詳細ページ？ do %>
        <%= @order.customer.last_name %><%= @order.customer.first_name %>
        <%# end %>
      </td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
<!--改善！orderテーブルカラムのcustomer_id(=購入者)の注文日を表示したい-->
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.postal_code %><%= @order.address %></td><br>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>注文ステータス</th><
      <td>
        <%= form_with model: @order, method: :patch, url: admin_order_path(@order) do |f| %>
          <%#= f.select :status, options_for_select([0, 1, 2, 3, 4]) %>
          <%#= f.select :status, options_for_select(Order.satatuss.keys) %>
          <%= f.select :status, Order.satatuss_i18n.keys.map{|k| [I18n.t("enum.order.status.#{k}"),k] %>
          <%= f.submit '更新', class:"btn btn-success btn-sm" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr bgcolor="#DDDDDD">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @order_details.each do |order_detail| %> 
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.tax_price*order_detail.amount %></td>
      <td>
        <%= form_with model: order_detail ,method: :patch, url: admin_order_detail_path(order_detail) do |f| %>
        <%#= f.select :making_status, options_for_select([0, 1, 2, 3]) %>
        <%#= f.select :making_status, options_for_select(OrderDetail.making_statuss.keys) %>
        <%= f.select :making_status, OrderDetail.making_statuss_i18n.keys.map{|k| [I18n.t("enum.order_detail.making_status.#{k}"),k] %>
      </td>
      <td><%= f.submit '更新',class:"btn btn-success btn-sm" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <th>商品合計</th>
      <td><%= @order.total_payment - @order.shipping_cost %></td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping_cost%></td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td><%=@order.total_payment %></td>
    </tr>
  </tbody>
</table>