<h3>注文履歴詳細</h3>

<table>
  <tbody>
    <tr>
      <strong><th>購入者</th></strong>
      <td>
        <%#= link_to 購入者の会員詳細ページ？ do %>
        <%= @customer.last_name %><%= @customer.first_name %>
        <%# end %>
      </td>
    </tr>
    <tr>
      <strong><th>注文日</th></strong>
      <td><%= order.customer_id.created_at %></td>
<!--改善！orderテーブルカラムのcustomer_id(=購入者)の注文日を表示したい-->
    </tr>
    <tr>
      <strong><th>配送先</th></strong>
      <td><%= order.postal_code %><%= order.address %></td><br>
      <td><%= order.name %></td>
    </tr>
    <tr>
      <strong><th>支払方法</th></strong>
      <td><%= order.payment_method %></td>
    </tr>
    <tr>
      <strong><th>注文ステータス</th></strong>
      <td><%= </td>
    </tr>
  </tbody>
</table>
