

<h4>ジャンル一覧・追加</h4>

<p>
    ジャンル名
    <%= form_with model:@genre, url: admin_genre_path, method: :patch do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "新規登録" %>
    <% end %>
</p>

<h5>ジャンル</h5>

<%= @genre.each do |genre| %>
    <div>
        <p>
            <%= genre.name %>
            <%= link_to "編集", edit_admin_genre_path(genre.id) %>
        </p>
    </div>
<% end %>