<div class="form-row">
  <div class="form-group col-1"></div>
<h4 class="form-group col-3">
  配送先登録 / 一覧
  </h4>
</div>

<%= form_with model: @address, method: :post, url: addresses_path do |f| %>
 <div class="form-row">
  <div class="form-group col-2">
  <span class="pl-5"><%= f.label :postal_code, '郵便番号(ハイフンなし)' %></span>
  </div>
  <div class="form-group col-10">
  <%= f.text_field :postal_code, placeholder:"0000000" %>
  </div>
   </div>

  <div class="form-row">
    <div class="form-group col-2">
  <span class="pl-5"><%= f.label :address, '住所' %></span>
  </div>
  <div class="form-group col-10">
  <%= f.text_field :address, size: 60, placeholder:"東京都渋谷区代々木神園町0-0" %>
  </div>
  </div>


  <div class="form-row">
    <div class="form-group col-2">
  <span class="pl-5"><%= f.label :name, '宛名' %></span>
  </div>
  <div class="form-group col-10">
  <%= f.text_field :name, placeholder:"令和道子" %>
  </div>
   </div>


   <div class="form-row">
      <div class="form-group col-2"></div>
      <div class="form-group col-10">
  <%= f.submit '新規登録', class:"btn btn-success btn-sm" %>
  </div>
  </div>
<% end %>

<%# @addresses.each do |a| %>
  <%#= a.postal_code %>
  <%#= a.address %>
  <%#= a.name %>
  <%#= a.submit '編集する', class:"btn btn-success" %>
  <%#= a.submit '削除する', class:"btn btn-danger" %>
<%# end %>

<table border="3">
  <thead class="table-light">
    <tr>
      <th class="py-3">郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @addresses.each do |address| %>
    <tr>
      <td class="py-3"><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td class="px-5">
        <%= link_to '編集する', edit_address_path(address), class:"btn btn-success" %>
        <%= link_to '削除する', address_path(address), method: :delete, class:"btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>