<h3>配送先登録 / 一覧</h3>

<%= form_with model :@address do |f| %>
  <%= f.label :postal_code, '郵便番号(ハイフンなし)' %>
  <%= f.text_field :postal_code %><br>
  <%= f.label :address, '住所' %>
  <%= f.text_field :address %><br>
  <%= f,label :name, '宛名' %>
  <%= f.text_field :name %>
  <%= f.submit '新規登録', class:"btn btn-success" %>
<% end %>

<% @addresses.each do |a| %>
  <%= a.postal_code %>
  <%= a.address %>
  <%= a.name %>
  <%= a.submit '編集する', class:"btn btn-success" %>
  <%= a.submit '削除する', class:"btn btn-danger" %>
<% end %>

<table border="3">
<% @addresses.each do |a| %>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= a.postal_code %></td>
      <td><%= a.address %></td>
      <td><%= a.name %></td>
      <td>
        <%= a.submit '編集する', class:"btn btn-success" %>
        <%= a.submit '削除する', class:"btn btn-danger" %>
      </td>
    </tr>
  </tbody>
</table>