<h3>注文情報確認</h3>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->

<!--    </tr>-->
<!--  </thead>-->
<!--</table>-->

<!--<table>-->
  <!--<tr>-->
    <!--<td>-->
      <table border>
        <tr bgcolor="#DDDDDD">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_item.each do |cart| %>
        <tr>
          <td><%= cart.item_id %></td>
          <td><%= cart.item_id.price*1.1.floor %></td>
          <td><%= cart.amount %></td>
          <td><%= cart.item_id.price*1.1.floor*cart.amount %></td>
        </tr>
        <% end %>
      </table>
    <!--</td>-->

    <!--<td>-->
      <table border>
        <tr>
          <th bgcolor="#DDDDDD">送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th bgcolor="#DDDDDD">商品合計</th>
          <td>商品値段<%#= tax_price+tax_price %></td>
        </tr>
        <tr>
          <th bgcolor="#DDDDDD">請求金額</th>
          <td>金額<%#= tax_price+tax_price+shipping_cost %></td>
        </tr>
      </table>
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->
<strong>支払方法</strong>
<% if @pay == 'credit_card' %>
  <%= 'クレジットカード' %>
<% else %>
  <%= '銀行振込' %>
<% end %>
<%#= @order.payment_methods_i18n[:payment_method] %><br>
<strong>お届け先</strong>
<% if @select_address == '0' %>
<%#= @select_address %>
  〒<%= @customer.postal_code %><%= @customer.address %><br>
  <%= @customer.last_name %><%= @customer.first_name %>
<% elsif @select_address == '1'%>
  <%= @address.set_address %>
<% else %>
  〒<%= @order.postal_code %><%= @order.address %><br>
  <%= @order.name %>
<% end %>


<%= link_to '注文を確定する', orders_path, method: :post, class:"btn btn-success btn-lg" %>
