<div class="container">
  <div class="row">
<h5 class="mt-3">ログイン</h5>
</div>

<div class="row">
<h6 class="ml-3 mt-4">会員の方はこちらからログイン</h6>
</div>
<%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>

  <table>
    <tbody>
      <tr>
    <td class="pl-5 pt-3"><%= f.label :メールアドレス %></td>
    <td class="pl-5"><%= f.email_field :email, size: 40, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <td class="pl-5 py-2"><%= f.label :パスワード %></td>
    <td class="pl-5"><%= f.password_field :password, size: 40, autocomplete: "current-password" %></td>
 </tr>

  <tr>
    <td></td>
    <td class="pl-5 pt-4"><%= f.submit "ログイン", class: "btn btn-primary col-5" %></td>
  </tr>
  </tbody>
  </table>
<% end %>

<div class="row mt-4">
<h6>会員登録がお済みでない方</h6>
</div>

<div class="row d-flex align-items-end my-3">
  <div class="col-1"></div>
<span class="mr-2"><%= render "public/shared/links" %></span>から新規登録を行なってください。
</div>

</div>

