<div class="container">
  <div class="row">
     <div class="col-md mx-auto">
<h5>ログイン</h5>
<h6>会員の方はこちらからログイン</h6>
<%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>

  <table>
    <tbody>
      <tr>
    <td><%= f.label :メールアドレス %></td>
    <td class="pl-2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <td><%= f.label :パスワード %></td>
    <td class="pl-2"><%= f.password_field :password, autocomplete: "current-password" %></td>
 </tr>

  <tr>
    <td></td>
    <td class="pl-2"><%= f.submit "ログイン", class: "btn btn-primary" %></td>
  </tr>
  </tbody>
  </table>
<% end %>

<h6>会員登録がお済みでない方</h6>
<p class="d-flex align-items-end">
<span class="mr-2"><%= render "public/shared/links" %></span>から新規登録を行なってください。
</p>
</div>
</div>
</div>

