<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#ffde59">
    <header class="border-bottom border-4 border-light  mb-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-4 display-4">
              <%=link_to root_path do %>
              <%= image_tag 'logo.png', size: '150x130' %>
              <% end %>
              <%= link_to "ながのcake", root_path, class: "h5" , style: "color: black"%>
          </div>
            <% if admin_signed_in? %>
              <div class="col-8 justify-content-end">
                <button class ="btn btn-sm"><%= link_to '商品一覧', admin_items_path , class:'btn'%></button>
                <button class ="btn btn-sm"><%= link_to '会員一覧', admin_customers_path, class:'btn'%></button>
                <button class ="btn btn-sm"><%= link_to '注文履歴一覧', admin_orders_path, class:'btn' %></button>
                <button class ="btn btn-sm"><%= link_to 'ジャンル一覧', admin_genres_path, class:'btn' %></button>
                <button class ="btn btn-sm"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn" %></button>
                <!--<div class="col-md-3 offset-md-5">-->
                <!--  <%#= form_with url: search_items_path, method: :get do |f| %>-->
                <!--  <%#= f.text_field :word, placeholder: "Search" %>-->
                <!--  <#% end %>-->
                <!--</div>-->
              </div>

            <% elsif customer_signed_in? %>
              <div class="col-2 ">ようこそ</br><%= current_customer.last_name %>さん！</div>
              <div class="col-6 justify-content-end">
                <button class ="btn btn-sm"><%= link_to 'マイページ', my_page_customers_path%></button>
                <button class ="btn btn-sm"><%= link_to '商品一覧', items_path %></button>
                <button class ="btn btn-sm"><%= link_to 'カート', cart_items_path %></button>
                <button class ="btn btn-sm"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></button>
                <div class="col-md-3 offset-md-3">
                  <%= form_with url: search_items_path, method: :get do |f| %>
                  <%= f.text_field :word, placeholder: "Search" %>
                  <% end %>
                </div>
              </div>

            <% else %>
              <div class="col-6 justify-content-end d-grid d-md-block">
                  <button class ="btn btn-sm"><%= link_to 'About', about_path , class:'btn'%></button>
                  <button class ="btn btn-sm"><%= link_to '商品一覧', items_path , class:'btn'%></button>
                  <button class ="btn btn-sm"><%= link_to '新規登録', new_customer_registration_path, class:'btn' %></button>
                  <button class ="btn btn-sm"><%= link_to 'ログイン', new_customer_session_path , class:'btn'%></button>
                  <div class="col-md-3 offset-md-3 mt-5">
                    <%= form_with url: search_items_path, method: :get do |f| %>
                    <%= f.text_field :word, placeholder: "Search" %>
                  <% end %>
                  </div>
            </div>
            <% end %>



              </div>
        </div>


      </div>
    </header>
    <%= yield %>
  </body>
</html>